<h1>Your Shopping Cart</h1>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @shopping_carts.each do |cart_item| %>
      <tr>
        <td><%= cart_item.product.title %></td>
        <td>
          <%= form_with(model: cart_item, url: shopping_cart_path(cart_item), method: :patch, local: true) do |f| %>
            <%= f.number_field :amount, value: cart_item.amount, min: 1, class: "form-control" %>
            <%= f.submit "Update", class: "btn btn-primary" %>
          <% end %>
        </td>
        <td><%= number_to_currency(cart_item.product.price) %></td>
        <td><%= number_to_currency(cart_item.amount * cart_item.product.price) %></td>
        <td>
          <%= link_to "Remove", shopping_cart_path(cart_item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Continue Shopping", root_path, class: "btn btn-default" %>
<%= link_to "Checkout", new_order_path, class: "btn btn-success" %>
