<h1>My Orders</h1>

<% @orders.each do |order| %>
  <div class="order">
    <h3>Order No: <%= order.order_no %></h3>
    <% order.order_items.each do |order_item| %>
      <div class="order-item">
        <div class="media">
          <div class="media-left">
            <% if order_item.product.main_product_image.present? %>
              <%= image_tag order_item.product.main_product_image.small_image, class: 'media-object', alt: order_item.product.title %>
            <% else %>
              <%= image_tag 'placeholder.png', class: 'media-object', alt: 'No image available' %>
            <% end %>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= order_item.product.title %></h4>
            Quantity: <%= order_item.quantity %> Price: $<%= order_item.total_price %>
          </div>
        </div>
      </div>
    <% end %>
    <p>Total Price: $<%= order.total_price %></p>
    <p><span class="label label-success">Paid</span> User <%= order.user.id %> address <%= order.address.id %></p>
    <%= link_to 'Delete', dashboard_order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
  <hr>
<% end %>
