<ul class="list-group">
  <% unless addresses.blank? %>
    <% addresses.each_with_index do |address, index| %>
      <li class="list-group-item">
        <label>
          <input type="radio" name="address_id" value="<%= address.id %>" <%= 'checked' if current_user.default_address == address %> />
          <%= address.contact_name %>
          <%= address.address %>
          <%= address.cellphone %>
          <%= address.zip_code %>
          <%= address.province.name %>
        </label>
        <div>
          <%= link_to "Edit", edit_address_path(address), class: "inline edit-address-btn" %>
          <%= link_to "Delete", address_path(address), method: 'delete', "data-confirm": "Are you sure?", class: "remove-address-btn inline" %>
          <% if current_user.default_address == address %>
            <span class="default_address">Default Address</span>
          <% else %>
            <%= link_to "Set as default", set_default_address_address_path(address), method: 'put', class: "set-default-address-btn inline" %>
          <% end %>
        </div> 
      </li>
    <% end %>
  <% else %>
    <li class="list-group-item">
      Please add an address
    </li>
  <% end %>
</ul>
