<!DOCTYPE html>
<html>
<head>
  <title>GameMall</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_importmap_tags %>
  <%= yield :stylesheets %>
</head>

<body>
  <%= render 'layouts/menu' %>
  <div class="container">
    <% unless flash[:notice].blank? %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application', type: 'module', crossorigin: 'anonymous' %>
  <%= yield :javascripts %>
</body>
</html>
