<!DOCTYPE html>
<html>
<head>
  <title>GameMall</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_importmap_tags %>
  <%= yield :stylesheets %>
</head>

<body>
  <%= render 'layouts/menu' %>
  <div class="container">
    <% unless flash[:notice].blank? %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application', type: 'module', crossorigin: 'anonymous' %>
  <script>
    (function() {
  
  console.log('Inline javaScript loaded properly');
  
  $('.create-order-form').submit(function() {
    var addressID = $('input[name="address_id"]:checked').val(),
        $form = $(this);

    if (!addressID) {
      alert("Please select an address!");
      return false;
    } else {
      $form.find('input[name="address_id"]').val(addressID);
      return true;
    }
  })


  $(document).ready(function() {
  console.log('JavaScript loaded');

  $('.add-to-cart-btn').on('click', function(event) {
    event.preventDefault();

    var $this = $(this),
        $amount = $('input[name="amount"]'),
        $prog = $this.find('i');

    if ($amount.length > 0 && parseInt($amount.val()) <= 0) {
      alert("Quantity must be greater than 1");
      return false;
    }

    $.ajax({
      url: $this.attr('href'),
      method: 'post',
      data: { product_id: $this.data('product-id'), amount: $amount.val() },
      beforeSend: function() {
        if (!$prog.hasClass('fa-spin')) {
          $prog.addClass('fa-spin');
        }
        $prog.show();
      },
      success: function(data) {
        if ($('#shopping_cart_modal').length > 0) {
          $('#shopping_cart_modal').remove();
        }

        $('body').append(data);
        $('#shopping_cart_modal').modal();
      },
      complete: function() {
        $prog.hide();
      }
    });

    return false;
  });
});

})()

  </script>
  <%= yield :javascripts %>
</body>
</html>
